<div class="row justify-content-center">
    <div class="col-sm-8">
        <!-- for small width devices -->
        <div class="d-block d-sm-none">
            <button class="btn btn-primary btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                <i class="fas fa-align-justify"></i> Показать фильтры
            </button>
            <div class="collapse" id="collapseFilter">
                <div class="card card-body">
                    tut budet filter
                </div>
            </div>
        </div>
        <!-- for medium width devices -->
        <div class="d-none d-sm-block">
            <div class="card card-body alert alert-info">
                tut togzhe budet
            </div>
        </div>
    </div>
</div>