<div class="container-fluid">
    <filter-box></filter-box>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary"><i class="fas fa-print"></i> печать</button>
                <button type="button" class="btn btn-secondary"><i class="fas fa-comments"></i> согласование</button>
                <button type="button" class="btn btn-secondary"><i class="fas fa-envelope"></i> отправить</button>
            </div>
        </div>
        <div class="col-auto">
            <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" routerLink="/year" routerLinkActive="active">Год</button>
            <button type="button" class="btn btn-secondary" routerLink="/month" routerLinkActive="active">Месяц</button>
            <button type="button" class="btn btn-secondary" routerLink="/week" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Неделя</button>
            </div>
        </div>
    </div>
    <div class="w-100"><p></p></div>
    <div class="">
        <router-outlet class="w-100"></router-outlet>
    </div>
</div>