<div class="row justify-content-center">
    <div class="col-auto"><p class="display3">{{title}}</p></div>
</div>
<div class="w-100">
    <div class="row"  style="overflow-x: scroll;">
        <table class="table table-stripped table-bordered">
            <thead>
                <th>Цех</th>
                <th>Операция</th>
                <th>ПЗ</th>
                <th>Время ремонта</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of data">
                    <td>{{order?.area}}</td>
                    <td>{{order?.operation}}</td>
                    <td>{{order?.quest}}</td>
                    <td>с {{order?.dateStart}} по {{order?.dateEnd}}</td>
                </tr>
            </tbody>
        </table>

        <div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let order of data" >
            <div class="card">
                <div class="card-header">
                    <h5>{{order?.quest}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Start Date: {{order?.dateStart}}</p>
                    <hr>
                    <p class="card-text">End Date: {{order?.dateEnd}}</p>
                    <hr>
                    <p class="card-text">Area: {{order?.area}}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">Operation: {{order?.operation}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
